<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.smartadmin.module.business.utils.dao.SysMaxCodeDao">

    <delete id="deleteById">
        delete from sys_max_code where bill_type = #{id}
    </delete>

    <delete id="deleteByIdList">
        delete from sys_max_code where bill_type in
        <foreach collection="idList" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </delete>

</mapper>